# dependências
/node_modules
/.pnp
.pnp.*

# build
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# testes
/coverage
/playwright-report
/test-results
/blob-report
/playwright/.cache

# ambiente
.env
.env*.local

# vercel
.vercel

# sistema operacional
.DS_Store
Thumbs.db
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
